.breadcrumbs__item {
  cursor: pointer;
  align-items: baseline;
  font-size: 14px !important;
  color: $breadcrumbs-color;
}

.breadcrumbs__item-name {
  margin-left: -4px;
}

.icon-Home::before {
  content: "\e920";
  color: $breadcrumbs-color;
}

.icon-DayForward:before {
  font-size: 14px !important;
  content: "\e666";
  color: $breadcrumbs-color;
}
