.calendar {
  margin-top: 4px;
  text-align: right;
  font-size: 14px;
  color: $calendar-color;
  padding: 8px 0;

  @include mobile {
    text-align: left;
    padding: 5px 0;
  }
}

.icon-Calendar:before {
  font-size: 16px !important;
  content: "\e75f";
  margin-right: 4px;
  color: $calendar-color;
  font-style: normal;
}
