.footer {
  position: relative;
  background-color: #f9f9f9;
  padding: 64px 0;
  min-height: 768px;
  max-height: 100%;
}

.footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__category-item {
  text-decoration: none;
  color: #666666;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.footer__category {
  padding: 0 12px 24px;
  flex-basis: 25%;
  max-width: 25%;

  @include tablet {
    flex-basis: 33%;
    max-width: 33%;
  }

  @include mobile {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.footer__category-header {
  margin-bottom: 12px;
  line-height: 24px;
  font-size: 18px;
  color: #000000;
  font-weight: 400;
}

.footer__category-list__item {
  line-height: 16px;
  font-size: 13px;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.footer__category-list {
  @include list-reset;
}

.footer__category-line {
  position: relative;
  width: 80%;
  border-bottom: 1px dotted #cccccc;
  margin: 12px 0;
}

.footer__border {
  border-bottom: 1px solid #cccccc;
  margin-top: 24px;
  margin-bottom: 24px;
}

.footer__bottom {
  width: 100%;
  line-height: 24px;
  font-size: 15px;
  color: #666666;
}

.footer__bottom-category {
  padding: 0 12px 24px;
  flex-basis: calc(100% / 3 - 20px);
  max-width: calc(100% / 3 - 20px);

  @include tablet {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.footer__address {
  flex-basis: 50%;
  max-width: 50%;
  width: 100%;

  @include tablet {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.footer__contacts-link {
  color: #666666;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.footer__contacts-email {
  color: $link-color;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 150px;
  max-width: 180px;
}

.footer__social-item {
  flex-shrink: 0;
}

.footer__social-link {
  display: block;
  font-size: 0;
  line-height: 0;
}

.footer__social-icon {
  display: block;
  margin-bottom: 12px;
  opacity: 0.35;
  @include transition(opacity);

  &:hover {
    opacity: 1;
    @include transition(opacity);
  }
}

.footer__social-svg {
  width: 20px;
  height: 20px;
  fill: white;
}
