.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  height: 84px;
  transition: box-shadow 0.2s linear, height 0.2s linear, font 0.2s linear;
  z-index: 3;

  &--visible {
    background-color: #ffffff;
  }

  &--active {
    height: 48px;
    font-size: 18px;
    line-height: 28px;
    color: $light-font-color;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s linear, height 0.2s linear, font 0.2s linear;

    .burger-button {
      .burger-button__line {
        transition: margin 0.2s linear;
        margin-top: 3px;
      }

      @include tablet {
        height: 20px;
      }

      &:hover {
        .burger-button__line {
          @include transition(background-color);
          background-color: $accent-color-2;
        }
      }
    }

    .burger-button__close {
      margin-top: -3px;
    }

    .header__logo-pic {
      width: 73px;
      height: 28px;
      transition: width 0.2s linear, height 0.2s linear;
    }

    &.header {
      padding-top: 0;
      padding-bottom: 0;
    }

    .header__nav-link {
      padding-bottom: 5px;
      border-bottom-width: 3px;
    }
  }

  @include mobile {
    min-height: 56px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    padding-top: 6px;
    flex-wrap: nowrap;
    align-items: baseline;
  }

  @include mobile {
    padding-top: 0;
  }
}

.header__left,
.header__right {
  display: inline-flex;
  white-space: nowrap;
  align-items: flex-end;
}

.header__right {
  @include mobile {
    width: auto;
  }
}

.header__left {
  @include mobile {
    white-space: normal;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

.header__nav {
  @include tablet {
    width: 100%;
    flex-grow: 1;
    flex-basis: 90%;
  }
}

.header__nav-list {
  @include list-reset;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.header__nav-item {
  margin-right: 4px;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    display: inline-block;
    content: "";
    width: 0;
    height: 10px;
    margin: 0 16px;
    border-left: 1px dotted #cccccc;
  }

  &:first-child::before {
    display: none;
  }

  &:last-child::after {
    display: inline-block;
    content: "";
    width: 0;
    height: 10px;
    margin: 0 16px;
    border-left: 1px dotted #cccccc;
  }
}

.header__nav-link {
  color: #333333;
  text-decoration: none;
  flex-shrink: 0;
  cursor: pointer;
  padding-bottom: 15px;
  border-bottom: 4px solid transparent;
  @include transition(border);

  &:hover,
  &:focus {
    @include transition(border);
    border-color: rgba(0, 0, 0, 0.2);
  }
}

.header__title {
  margin-right: 16px;
  text-overflow: ellipsis;
}
