.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mobile {
    font-size: 15px;
    line-height: 22px;
  }
}

.article {
  // flex-basis: 75%;
  // max-width: 75%;
  flex: 1;

  @include laptop {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.aside {
  flex-basis: 25%;
  max-width: 25%;

  @include laptop {
    display: none;
  }
}

.article__text {
  color: $light-font-color;
}

.article__section {
  padding-bottom: 24px;
}

.article__text-link {
  color: $link-color;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  @include transitionMulty(color, border);

  &:hover {
    color: $link-hover-color;
    border-bottom: 1px solid $link-hover-color;
    @include transitionMulty(color, border);
  }

  &:active {
    color: $accent-color-2;
  }

  a:visited {
    color: $link-hover-color;
  }
}

.article__list {
  @include list-reset;
}

.article__list-item {
  position: relative;
  padding-left: 16px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "•";
    color: $main-accent-color;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.article__columns {
  column-count: 2;
  column-width: 50%;
  column-gap: 32px;

  @include mobile {
    column-count: 1;
  }
}

p.article__columns-item {
  display: inline-block;
  margin-bottom: 12px;
  vertical-align: top;
}

.article__notice {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

  @include mobile {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  p {
    margin-bottom: 4px;
  }
}

.article__notice-item {
  margin-bottom: 14px;
  flex-basis: 29%;
  height: 100%;
  color: #333333;
  border-radius: 5px;
  padding: 16px;
  background-color: $bg-block-color;
}

.article__notice-item--small {
  max-width: 250px;
}

.num-points {
  display: flex;
  flex-direction: row;
}

.number {
  width: 24px;
  height: 24px;
  line-height: 24px;
  flex-shrink: 0;
}

.article__link-arrow {
  font-family: cbuc-icons;
  display: inline-block;
  padding-left: 2px;
  font-size: 12px;
  line-height: 12px;
  color: $link-color;
}
