* {
  box-sizing: border-box;
}

::selection {
  background-color: $main-accent-color;
  color: white;
  text-shadow: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  font-family: $main-font;
  min-width: $width-min;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: $light-font-color;
  background-color: #ffffff;
}

main {
  padding-top: 92px;
  min-height: calc(100vh - 768px);
} /*прижимает футер*/

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  background-color: transparent;

  &--flex {
    display: flex;
    flex-direction: column;
  }

  @include tablet {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="file"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

picture {
  display: block;
}

.heading-h1 {
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  font-weight: 400;
  color: $main-font-color;

  @include tablet {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  @include mobile {
    margin-top: 10px;
  }
}

.heading-h2 {
  font-size: 32px;
  line-height: 44px;
  margin: 0;
  font-weight: 400;
  color: $main-font-color;

  @include tablet {
    font-size: 20px;
    line-height: 24px;
  }
}

.heading-h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  font-weight: 400;
  color: $main-font-color;

  @include tablet {
    font-size: 18px;
    line-height: 22px;
  }
}

.heading-h4 {
  font-size: 20px;
  line-height: 24px;
  color: #333;
  margin: 0;
  font-weight: 400;

  @include tablet {
    font-size: 16px;
    line-height: 22px;
  }
}

.heading-center {
  text-align: center;
}

.mt-24 {
  margin-top: 24px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-8 {
  padding-bottom: 16px;
}

.hidden-xs {
  @include mobile {
    display: none !important;
  }
}

.hidden-sm {
  @include tablet {
    display: none !important;
  }
}

.hidden-md {
  @include laptop {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}

.show-sm {
  @include tablet-and-bigger {
    display: none !important;
  }
}

.anchor-block {
  position: relative;
  top: -50px;
}
