//colors

$main-font-color: #000000;
$bold-font-color: #1e1e1e;
$light-font-color: #666666;
$link-color: #0055bb;
$breadcrumbs-color: #587ab0;
$link-hover-color: #313e78;
$li-color: #0055bb;
$calendar-color: #999999;
$main-accent-color: #0087bf;
$accent-color-2: #ff7033;
$bg-block-color: #f3f7fc;

//fonts

$main-font: "TensorFont", "Tahoma", "Geneva", sans-serif;

// media breakpoints

$width-desktop: 1200px;
$width-laptop: 1000px;
$width-tablet: 700px;
$width-min: 320px;

// Retina 2x

$retina-dpi: 192dpi;
$retina-dppx: 2dppx;
